    /*******body and para********/
body{
	font-family: 'Abel', sans-serif;
	font-size: 1.3em;
	color:hsla(360,100%,100%,1);
    margin:0 auto;
    width: 900px;
  /*******background-color: hsla(58,23%,46%,1);*******/
    background: hsla(360,100%,100%,1) url("../images/flmap.jpg") top repeat-y;
    }  
p{
    line-height:1.2;
    text-indent: 8%;
	}
div.split{
	float:left;
	width: 43%;
	margin:1%;
	padding:.5%;
	}
div.split2{
	float:left;
	width:43%;
	margin:1%;
	padding:.5%;
	clear:right;
	}
	
figure.boat{
	float:left;
	margin:1%;
	}
	/**********headings*********/
h1{
    font-size: 2.5em;
    text-align:center;
    width : 900px;
    background: hsla(360,100%,100%,1);
    background: radial-gradient(hsla(58,23%,46%,.3),black);
    height:78px;
    
	}
#two{
	clear:left;
	background:url("../images/ancor.png") center no-repeat;
	}
h3{
   font-weight:normal;
   font-style:italic;
	}
h1,h2{
  text-shadow: 5px 10px 6px hsl(200,30%,50%);
  color: hsla(360,100%,100%,1);
  width:100%
	}
/**********lists**********/
ul{
  text-align: center;
  width: 900px ;
  margin: 0 230px;
  }
#navigation li{
  display: inline-block;
  background-color: hsla(200,30%,50%,.7);
  height:15px;
  width: 150px;
  padding: 10px;
  margin:20px;
  border: 1px solid;   
	}
li a{
  text-decoration:none;
	}
/*********links*********/

a:visited{
   color: hsla(120,49%,47%,1)
	}
a:hover{
   text-decoration: underline;
   color: hsla(277,44%,34%,1);
	}
a:active{
  text-decoration:overline
}
ol{
  border: 7px solid hsl(200,30%,50%);
  width: 110px;
  border-radius: 8px;
  box-shadow: 10px -10px 8px hsla(58,33%,16%,1)
  
	}